<div class="task-lists">
  <app-task-list
    class="list-container"
    *ngFor="let list of tasklists"
    [ngStyle]="{'order': list.order}"
    appDrop
    [dropTags]="['task-item', 'task-list']"
    [dragEnterClass]="'drag-enter'"
    (dropped)="handleMove($event, list)"
    [appDrag]="true"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list">
    <app-task-header
      [header]="list.name"
      (newTask)="launchNewTaskDialog()"
      (moveAll)="launchCopyTaskDialog()"
      (deleteList)="launchDeleteTaskDialog()"
      (editList)="launchEditTaskDialog()">
    </app-task-header>
    <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <app-task-item
      *ngFor="let task of list.tasks"
      [task]="task"
      (taskComplete)="handleCompleteTask()"
      (taskClick)="launchUpdateTaskDialog(task)">
    </app-task-item>
  </app-task-list>
</div>

<button class="fab-button" md-fab type="button" (click)="openNewTaskDialog()">
  <md-icon>add</md-icon>
</button>