<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
    <!-- 登陆框 -->
    <md-card>
      <md-card-header>
        <md-card-title>登录</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container class="full-width">
          <input mdInput type="text" placeholder="请输入你的邮箱" formControlName="email"/>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="请输入你的密码" formControlName="password"/>
          <md-error>{{form.controls['password'].errors | json}}</md-error>
        </md-input-container>
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">登陆</button>
      </md-card-content>
      <md-card-actions class="text-right">
        <p>没有帐号&nbsp;<a routerLink="/register">立即注册</a></p>
        <p>忘记密码&nbsp;<a href="">立即找回</a></p>
      </md-card-actions>
    </md-card>

    <!-- 佳句框 -->
    <md-card>
        <md-card-header>
          <md-card-title>每日佳句</md-card-title>
          <md-card-subtitle>{{quote.cn}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image [src]="quote.pic" alt="每日佳句">
        <md-card-content>{{quote.en}}</md-card-content>
      </md-card>
</form>
