// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// 升级@angular/material 2.0.0-beta.8之后才可以，@angular/material 2.0.0-beta.7不支持
@import 'theme.scss';

html, body, app-root, md-sidenav-container, .site {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// 根容器
.site {
    display: flex;
    flex-direction: column;
}

// 主容器
main {
    flex: 1;
}

// 填满宽度
.full-width {
    width: 100%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}
